<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="HealthMonitoringConsoleApp.HealthConsoleService">
        <endpoint
          address="net.tcp://localhost:8000/ConsoleService"
          binding="netTcpBinding"
          contract="HealthMonitoringConsoleApp.IHealthConsoleService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>